@use './breakpoints' as u;
@use './variables' as *;

.page {
    width: 100%;
    padding: 100px 20px 20px 20px;
    background-color: $black;
    @include u.breakpoint(md) {
        padding: 130px 60px 60px 60px;
    }
    .header {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        .page-title {
            display: flex;
            align-items: flex-end;
            // border: 1px solid #fff;
            margin-right: 70px;
            margin-bottom: 20px;
            span {
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background-color: $gray-x11;
                margin-right: 10px;
                margin-bottom: 3px;
            }
            .title-text {
                font-family: var(--font-Poppins), sans-serif;
                font-weight: 600;
                font-size: 16px;
                color: $gray-x11;
                margin: 0;
                padding: 0;
                line-height: 1;
            }
        }
        .category-item {
            display: flex;
            align-items: flex-end;
            margin-right: 40px;
            margin-bottom: 20px;
            // border: 1px solid #fff;
            h1 {
                font-family: var(--font-Poppins), sans-serif;
                font-weight: 400;
                font-size: 27px;
                color: $gray-x11;
                margin: 0;
                margin-right: 5px;
                padding: 0;
                line-height: 1;
                @include u.breakpoint(md) {
                    font-size: 35px;
                }  
            }
            span {
                font-family: var(--font-Poppins), sans-serif;
                font-weight: 300;
                font-size: 14px;
                color: $gray-x11;
                margin: 0;
                margin-bottom: 2px;
                padding: 0;
                line-height: 1;           
            }
        }
    }
    .notes {
        width: 100%;
        margin-top: 50px;
    }
}

///// NoteList.tsx
.notes-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    @include u.breakpoint(md) {
        gap: 40px;
    }
    .note {
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 50px;
        @include u.breakpoint(md) {
            flex: 0 1 calc((100% - 40px) / 2);
            margin-bottom: 0px;
        }
        @include u.breakpoint(lg) {
            flex: 0 1 calc((100% - 80px) / 3);
        }
        .note-thumbnail {
            width: 100%;
            aspect-ratio: 6 / 4;
            background-color: $black;
            background-size: cover;
            background-position: center;
            // margin-bottom: 10px;
            position: relative;
            &:before {
                float: left;
                padding-top: 67%;
                content: '';
            }
            &:after {
                display: block;
                content: '';
                clear: both;
            }
        }
        .note-detail {
            width: 100%;
            margin-top: 20px;
            .tag {
                width: 100%;
                display: flex;
                align-items: flex-end;
                // border: 1px solid #fff;
                margin-bottom: 10px;
                span {
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    background-color: $gray-x11;
                    margin-right: 10px;
                    margin-bottom: 3px;
                }
                .tag-text {
                    font-family: var(--font-Poppins), sans-serif;
                    font-weight: 200;
                    font-size: 14px;
                    color: $gray-x11;
                    margin: 0;
                    padding: 0;
                    line-height: 1;
                }
            }
            h3 {
                font-family: var(--font-Poppins), sans-serif;
                font-weight: 400;
                font-size: 22px;
                color: $white;
                line-height: 25px;          
            }
        }
    }
}

.blog-review {
    width: 100%;
    padding: 40px 0px 40px 20px;
    @include u.breakpoint(md) {
        display: flex;
        justify-content: space-between;
        padding: 60px 0px 60px 60px;
     }
    .head {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 30px;
        padding-right: 20px;
        @include u.breakpoint(md)  {
            margin-bottom: 0px;
            padding-right: 0px;
            width: 30%;
            flex-direction: column;
            justify-content: space-between;
        }
        @include u.breakpoint(md) {
            width: 300px;
        }
        .left {
            width: calc(100% - 90px);
            @include u.breakpoint(md) {
                width: 100%;
            }
            .subject-tag {
                width: 100%;
                display: flex;
                align-items: flex-end;
                width: max-content;
                margin-bottom: 10px;
                @include u.breakpoint(md) {
                    width: max-content;
                }
                span {
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    background-color: $white;
                    margin-right: 10px;
                    margin-bottom: 3px;
                }
                .tag-text {
                    font-family: var(--font-Poppins), sans-serif;
                    font-weight: 300;
                    font-size: 14px;
                    color: $white;
                    margin: 0;
                    padding: 0;
                    line-height: 1;
                }
            }
            .text {
                font-family: var(--font-Poppins), sans-serif;
                font-weight: 400;
                font-size: 25px;
                color: $white;
                margin: 0;
                padding: 0;
                line-height: 1.2;
                @include u.breakpoint(md) {
                    font-size: 38px;
                }
            }
            .blog-review-btn {
                margin-top: 30px;
                display: block;
            }
        }
        .right {
            width: 90px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            @include u.breakpoint(md) {
                width: 100%;
            }
            .slide-control {
                width: max-content;
                display: flex;
                .control-item {
                    width: 40px;
                    height: 40px;
                    background-color: rgb(41, 41, 41);
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    transition: all 0.2s ease-in-out;
                    &:hover {
                        background-color: rgb(58, 58, 58);
                    }
                    .control-item-icon {
                        color: $white;
                        font-size: 14px;
                    }
                }
                .control-item-left {
                    margin-right: 10px;
                }
            }
        }
    }
    .notes-container {
        width: 100%;
        overflow: hidden;
        // padding-left: 20px;
        @include u.breakpoint(md) {
            width: 70%;
            padding-left: 50px;
        }
        @include u.breakpoint(md) {
            width: calc(100% - 300px);
        }
        .container-wrap {
            width: 150%;
            @include u.breakpoint(sm) {

            }
            @include u.breakpoint(lg) {
                width: 125%;
            }
            .container-inner {
                //width: max-content;
                // display: flex;
                // flex-wrap: nowrap;
                .note-wrap {
                    // width: 300px;
                    // height: 300px;
                    // margin-right: 20px;
                    .note-card {
                        .note {
                            width: 95%;
                            // height: 300px;
                            @include u.breakpoint(sm) {
                                // width: 300px;
                            }
                            @include u.breakpoint(lg) {
                                width: 100%;
                            }
                            .image-wrap {
                                width: 100%;
                                aspect-ratio: 6 / 4;
                                background-color: $black;
                                background-size: cover;
                                background-position: center;
                                border-radius: 5px;
                                position: relative;
                                &:before {
                                    float: left;
                                    padding-top: 67%;
                                    content: '';
                                }
                                &:after {
                                    display: block;
                                    content: '';
                                    clear: both;
                                }
                            }
                            .note-detail {
                                margin-top: 30px;
                                .subject-tag {
                                    width: 100%;
                                    display: flex;
                                    align-items: flex-end;
                                    width: max-content;
                                    margin-bottom: 10px;
                                    @include u.breakpoint(md) {
                                        width: max-content;
                                    }
                                    span {
                                        width: 5px;
                                        height: 5px;
                                        border-radius: 50%;
                                        background-color: $gray-x11;
                                        margin-right: 10px;
                                        margin-bottom: 3px;
                                    }
                                    .tag-text {
                                        font-family: var(--font-Poppins), sans-serif;
                                        font-weight: 300;
                                        font-size: 14px;
                                        color: $gray-x11;
                                        margin: 0;
                                        padding: 0;
                                        line-height: 1;
                                    }
                                }
                                .text {
                                    font-family: var(--font-Poppins), sans-serif;
                                    font-weight: 200;
                                    font-size: 25px;
                                    color: $white;
                                    margin: 0;
                                    padding: 0;
                                    line-height: 1.2;
                                    @include u.breakpoint(md) {
                                        // font-size: 38px;
                                    }
                                }
                                .except {
                                    font-family: var(--font-Poppins), sans-serif;
                                    font-weight: 100;
                                    font-size: 14px;
                                    color: $white;
                                    line-height: 1.4;
                                    margin-top: 30px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
