@use './breakpoints' as u;
@use './variables' as *;

.home-page {
    width: 100%;
    background-color: $black;
    padding-top: 80px;
    @include u.breakpoint(md) {
        padding-top: 120px;
    }
}

.home-hero-container {
    width: 100%;
    height: calc( 100vh - 80px);
    padding: 0px 20px;
    position: relative;
    @include u.breakpoint(md) {
        padding: 0px 60px;
    }
    .inner {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 20px;
        @include u.breakpoint(md) {
            border-radius: 30px;
        }
        .video-bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover; /* Same as object-cover */
            z-index: 1;
        }
        .mobile-bg {
            display: block;
            @include u.breakpoint(md) {
                display: none;
            }
        }
        .dekstop-bg {
            display: none;
            @include u.breakpoint(md) {
                display: block;
            }
        }
        .content {
            width: 80%;
            position: absolute;
            top: 0;
            left: 20px;
            padding: 20px;
            background-color: $black;
            z-index: 5;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            @include u.breakpoint(md) {
                width: 400px;
                padding: 30px;
                left: 100px;
                border-bottom-left-radius: 30px;
                border-bottom-right-radius: 30px;
            }
            @include u.breakpoint(lg) {
                width: 600px;
            }
            .subject-tag {
                width: max-content;
                display: flex;
                align-items: flex-end;
                width: 100%;
                margin-bottom: 10px;
                span {
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    background-color: $white;
                    margin-right: 10px;
                    margin-bottom: 3px;
                }
                .tag-text {
                    font-family: var(--font-Poppins), sans-serif;
                    font-weight: 300;
                    font-size: 14px;
                    color: $white;
                    margin: 0;
                    padding: 0;
                    line-height: 1;
                    @include u.breakpoint(md) {
                        font-size: 16px;
                    }
                }
            }
            .text {
                font-family: var(--font-Poppins), sans-serif;
                font-weight: 400;
                font-size: 33px;
                color: $white;
                margin: 0;
                padding: 0;
                line-height: 1.1;
                @include u.breakpoint(md) {
                    font-weight: 300;
                    font-size: 53px;
                }
                @include u.breakpoint(lg) {
                    font-size: 63px;
                }
            }
        }
    }
}

.who-we-are {
    width: 100%;
    padding: 0px 20px;
    margin-top: 50px;
    @include u.breakpoint(md) {
        padding: 0px 60px;
    }
    .subject-tag {
        width: max-content;
        display: flex;
        align-items: flex-end;
        width: 100%;
        margin-bottom: 10px;
        span {
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: $white;
            margin-right: 10px;
            margin-bottom: 3px;
        }
        .tag-text {
            font-family: var(--font-Poppins), sans-serif;
            font-weight: 300;
            font-size: 14px;
            color: $white;
            margin: 0;
            padding: 0;
            line-height: 1;
            @include u.breakpoint(md) {
                font-size: 16px;
            }
        }
    }
    .text {
        font-family: var(--font-Poppins), sans-serif;
        font-weight: 100;
        font-size: 28px;
        color: $white;
        margin: 0;
        padding: 0;
        line-height: 1.2;
        @include u.breakpoint(md) {
            font-size: 43px;
        }
    }
    .divider {
        width: 100%;
        height: 1px;
        background-color: rgb(85, 85, 85);
        margin-top: 50px;
    }
}

.our-work-section {
    width: 100%;
    padding: 0px 20px;
    margin-top: 50px;
    @include u.breakpoint(md) {
        padding: 0px 60px;
    }
    .inner {
        width: 100%;
        .header {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 50px;
            @include u.breakpoint(md) {
                align-items: flex-end;
            }
            .head-wrap {
                width: 100%;
                @include u.breakpoint(md) {
                    width: 500px;
                }
                .subject-tag {
                    width: 100%;
                    display: flex;
                    align-items: flex-end;
                    width: max-content;
                    margin-bottom: 10px;
                    @include u.breakpoint(md) {
                        width: 500px;
                    }
                    span {
                        width: 5px;
                        height: 5px;
                        border-radius: 50%;
                        background-color: $gray-x11;
                        margin-right: 10px;
                        margin-bottom: 3px;
                    }
                    .tag-text {
                        font-family: var(--font-Poppins), sans-serif;
                        font-weight: 200;
                        font-size: 14px;
                        color: $gray-x11;
                        margin: 0;
                        padding: 0;
                        line-height: 1;
                        @include u.breakpoint(md) {
                            font-size: 16px;
                        }
                    }
                }
                .text {
                    font-family: var(--font-Poppins), sans-serif;
                    font-weight: 300;
                    font-size: 28px;
                    color: $white;
                    margin: 0;
                    padding: 0;
                    line-height: 1.2;
                    @include u.breakpoint(md) {
                        font-weight: 300;
                        font-size: 43px;
                    }
                }
            }
        }
    }
}

.product-section {
    width: 100%;
    .product-grid {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 0 auto;
        gap: 1.5rem;
        @include u.breakpoint(md) {
            grid-template-columns: repeat(2, 1fr);
        }
        .product-card {
            display: block;
            overflow: hidden;
            position: relative;
            margin-bottom: 30px;
            .product-image {
                position: relative;
                width: 100%;
                // aspect-ratio: 4 / 3;
                overflow: hidden;
                &:before {
                    float: left;
                    padding-top: 70%;
                    content: '';
                }
                &:after {
                    display: block;
                    content: '';
                    clear: both;
                }
            }
            .product-details {
                width: 100%;
                margin-top: 20px;
                .subject-tag {
                    width: 100%;
                    display: flex;
                    align-items: flex-end;
                    width: max-content;
                    margin-bottom: 10px;
                    @include u.breakpoint(md) {
                        width: max-content;
                    }
                    span {
                        width: 5px;
                        height: 5px;
                        border-radius: 50%;
                        background-color: $white;
                        margin-right: 10px;
                        margin-bottom: 3px;
                    }
                    .tag-text {
                        font-family: var(--font-Poppins), sans-serif;
                        font-weight: 300;
                        font-size: 14px;
                        color: $white;
                        margin: 0;
                        padding: 0;
                        line-height: 1;
                    }
                }
                .text {
                    font-family: var(--font-Poppins), sans-serif;
                    font-weight: 200;
                    font-size: 25px;
                    color: #929292;
                    margin: 0;
                    padding: 0;
                    line-height: 1.2;
                    @include u.breakpoint(md) {
                        font-size: 25px;
                    }
                }
            }
        }
    }
}
