@use './breakpoints' as u;
@use './variables' as *;

.fadeout-horizontal {
  mask-image: linear-gradient(
    to right,
    transparent,
    black 5rem,
    black calc(100% - 5rem),
    transparent
  );
}

.center-content {
  min-height: 100%;
  display: flex;
  align-items: center;
}

.wrapper {
  padding: 4.8rem 0px;
  width: 100%;
}

.rotate-left {
    margin-bottom: 20px;
//   transform: rotate(-12deg);
}

.rotate-right {
//   transform: rotate(12deg);
}

.marquee-text {
  overflow: clip;
}

.marquee-text-track {
  display: flex;
  padding-left: 4.8rem;
  gap: 4.8rem;
  width: max-content;
  animation: marquee-move-text var(--speed, 10s) linear infinite
    var(--direction, forwards);
}

.marquee-text p {
    // border: 1px solid white;
    background-color: #141414;
    border-radius: 999px;
    padding: 1rem 2.5rem;
    font-family: var(--font-Poppins), sans-serif;
    font-weight: 400;
    color: $white;
    font-size: 3rem;
    @include u.breakpoint(md) {
        font-size: 9rem;
    }
}

@keyframes marquee-move-text {
  to {
    transform: translateX(-50%);
  }
}

@media only screen and (max-width: 768px) {
  .wrapper {
    font-size: 1.2rem;
  }
}